.catalog {
    flex-grow: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.7rem;
}
.catalog__wrapper{
    display: flex;
}
.filter{
    width: 300px;
    margin-right: 1em;
}