.header {
  width: 100%;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__buttons {
    display: flex;
    list-style-type: none;

    & > * + * {
      margin-left: 1.5em;
    }
  }

  &__button {
    position: relative;

    &-total {
      font-size: 0.7rem;
      font-weight: 600;
      position: absolute;
      top: 0.7rem;
      left: 1.5rem;
    }
  }
}
