:root{
  box-sizing: border-box;
  @media screen and ( max-width:  800px){
    font-size: calc(1vw + .5em);
  }
}    
*,
*::after,
*::before{
    box-sizing: inherit;
}

.page {
  font-family: 'Poppins', sans-serif;
}