:root{
  box-sizing: border-box;
  @media screen and ( max-width:  800px){
    font-size: calc(1vw + .5em);
  }
}    
*,
*::after,
*::before{
    box-sizing: inherit;
}

html, 
.page {
  min-height: 100vh;
}

.page {
  font-family: 'Poppins', sans-serif;

  > .footer {
    position: sticky;
    top: 100vh;
  }
}

.container {
  width: 95vw;
  margin: 0 auto;
}