:root{
  box-sizing: border-box;
  @media screen and ( max-width:  800px){
    font-size: calc(1vw + .5em);
  }
}    
*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    user-select: none;
    font-family: sans-serif;
    background-color: #ecf0f1;
    padding: 2.5vh 0;
    font-family: sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95vw;
    min-height: 95vh;
    background-color: #fff;
    padding: 1.5em 3.5em;
    border-radius: 1.1em;
    margin: 0 auto;
}